<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
    </head>
    <body>
        <form method="post" action="/store" enctype="multipart/form-data">
            Name:
            <input type="text" name="txtName" id="txtName" required>
            <br>
            Mail:
            <input type="email" name="txtMail" id="txtMail" required>
            <br>
            Photo:
            <input type="file" name="txtPhoto" id="txtPhoto">
            <br>
            <br>
            <input type="submit" value="Add">
        </form>
    </body>
</html>